@layer base {
  :root {
    --color-bg: #c6c6c6;
    --color-fg: #000000;
    --color-light: 255 255 255;
    --font-serif: 'Labrada', serif;
    --font-sans-serif: 'Inter', sans-serif;

    --color-shadow: hsl(0 0% 100%);
    --color-shadow-2: hsl(130deg 100% 70%);
    --color-shadow-3: hsl(130deg 100% 70% / 30%);

    --color-deer-glow: hsl(130deg 40% 90%);

    --deer-shadow: drop-shadow(0 0 2px rgb(255 255 255 / 80%))
      drop-shadow(
        0 0 5px color-mix(in hsl, var(--color-deer-glow) 80%, transparent)
      )
      drop-shadow(
        0 0 10px color-mix(in hsl, var(--color-deer-glow) 80%, transparent)
      )
      drop-shadow(
        0 0 20px color-mix(in hsl, var(--color-deer-glow) 80%, transparent)
      )
      drop-shadow(
        0 0 30px color-mix(in hsl, var(--color-shadow-2) 40%, transparent)
      )
      drop-shadow(
        0 0 40px color-mix(in hsl, var(--color-deer-glow) 80%, transparent)
      )
      drop-shadow(0 100px 70px var(--color-shadow-2))
      drop-shadow(0 0 45px var(--color-deer-glow));
  }

  html {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: 0.875rem;

    font-family: var(--font-serif);
    font-optical-sizing: auto;
  }

  body,
  h1,
  p {
    margin: 0;
  }

  img {
    width: 100%;
  }
}

@layer bg {
  body {
    --blur-deer: 0px;
    --blur-man: 0px;
    --pointer-x: 0px;
    --pointer-y: 0px;
  }

  .container {
    height: 100dvh;
    width: 100dvw;
    overflow: clip;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    justify-content: center;
  }

  .deer {
    position: relative;
    z-index: -1;

    grid-column: 1;
    grid-row: 1;

    translate: calc(var(--pointer-x) - 80px) calc(var(--pointer-y) - 100px);
    filter: blur(var(--blur-deer));
    width: 90vmin;
    max-width: 600px;

    @media (min-width: 510px) {
      width: 65vmin;
      translate: calc(var(--pointer-x) - 100px) calc(var(--pointer-y) - 100px);
    }
  }

  .deer-head {
    position: absolute;
    scale: 0.6;
    top: 25%;
    left: 48%;
    filter: var(--deer-shadow);
    color: white;
    opacity: 0.9;
    animation: deer-glow 3s infinite alternate ease-in-out;
    will-change: filter;

    @media (min-width: 600px) {
      scale: 0.9;
      top: 26%;
      left: 50%;
    }

    @media (min-width: 800px) {
      scale: 1;
      top: 26%;
      left: 50%;
    }
  }

  .deer::before,
  .deer::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: white;
    filter: var(--deer-shadow);
  }

  .deer::before {
    rotate: 36deg;
    left: 42%;
    top: 24.5%;
  }

  .deer::after {
    rotate: -45deg;
    left: 59%;
    top: 24.5%;

    @media (min-width: 510px) {
      left: 60%;
    }
  }

  .man {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    filter: blur(var(--blur-man));
    will-change: filter;
    translate: calc(80px + var(--pointer-x) * -1)
      calc(100px + var(--pointer-y) * -1);
    width: 300px;

    @media (min-width: 510px) {
      width: 400px;
      translate: calc(150px + var(--pointer-x) * -1)
        calc(200px + var(--pointer-y) * -1);
    }
  }

  .man::after {
    display: inline-block;
    content: '';
    position: absolute;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    left: 14%;
    top: 10.5%;
    box-shadow:
      inset 0 0 10px #fff,
      inset 10px 0 30px var(--color-shadow),
      inset -10px 0 30px var(--color-shadow-2),
      0 0 5px #fff,
      -10px 0 60px var(--color-shadow),
      10px 0 60px var(--color-shadow-2),
      100px 100px 200px 70px var(--color-shadow-3);

    animation: move 3s infinite alternate ease-in-out;

    @media (min-width: 510px) {
      width: 45px;
    }
  }

  @keyframes deer-glow {
    0% {
      filter: hue-rotate(-40deg) var(--deer-shadow);
    }

    100% {
      filter: hue-rotate(40deg) var(--deer-shadow);
    }
  }

  @keyframes move {
    0% {
      scale: 1;
      filter: blur(1px) hue-rotate(-40deg);
    }

    100% {
      scale: 0.9;
      filter: blur(1px) hue-rotate(40deg);
    }
  }
}

@layer content {
  .content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    opacity: 0.8;
    translate: calc(var(--pointer-x) / 2) calc(var(--pointer-y) / 2);
  }

  .heading {
    font-size: clamp(2.5rem, 10vw, 14rem);
    font-weight: normal;
  }

  .description {
    padding: 1rem 0;
    font-family: var(--font-sans-serif);
    font-size: clamp(1rem, 4vw, 2.4rem);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    a {
      font-weight: 600;
      color: var(--color-fg);
      text-decoration: none;
    }

    &:has(a:hover) a:not(:hover) {
      filter: blur(1px);
      opacity: 0.7;
    }
  }
}
