@layer base {
  :root {
    --color-bg: #c6c6c6;
    --color-fg: #000000;
    --color-light: 255 255 255;
    --font-serif: 'Labrada', serif;
    --font-sans-serif: 'Inter', sans-serif;

    --color-shadow: hsl(0 0% 100%);
    --color-shadow-2: hsl(130deg 100% 70%);
  }

  html {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-size: 0.875rem;

    font-family: var(--font-serif);
    font-optical-sizing: auto;
  }

  body,
  h1,
  p {
    margin: 0;
  }

  img {
    width: 100%;
  }
}

@layer bg {
  body {
    --blur-deer: 0px;
    --blur-man: 0px;
    --pointer-x: 0px;
    --pointer-y: 0px;
  }

  .container {
    height: 100dvh;
    width: 100dvw;
    overflow: clip;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    justify-content: center;
  }

  .deer {
    position: relative;
    z-index: -1;

    grid-column: 1;
    grid-row: 1;

    translate: calc(var(--pointer-x) - 80px) calc(var(--pointer-y) - 100px);
    filter: blur(var(--blur-deer));
    width: 90vmin;
    max-width: 600px;

    img {
      animation: deer-glow 3s infinite alternate ease-in-out;
    }

    @media (min-width: 510px) {
      width: 65vmin;
      translate: calc(var(--pointer-x) - 100px) calc(var(--pointer-y) - 100px);
    }
  }

  .man {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    filter: blur(var(--blur-man));
    will-change: filter;
    translate: calc(80px + var(--pointer-x) * -1)
      calc(100px + var(--pointer-y) * -1);
    width: 300px;

    @media (min-width: 510px) {
      width: 400px;
      translate: calc(150px + var(--pointer-x) * -1)
        calc(200px + var(--pointer-y) * -1);
    }
  }

  .man::after {
    display: inline-block;
    content: '';
    position: absolute;
    width: 35px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    left: 14%;
    top: 10.5%;
    box-shadow:
      inset 0 0 10px #fff,
      inset 10px 0 30px var(--color-shadow),
      inset -10px 0 30px var(--color-shadow-2),
      0 0 5px #fff,
      -10px 0 60px var(--color-shadow),
      10px 0 60px var(--color-shadow-2),
      100px 100px 200px 70px
        color-mix(in hsl, var(--color-shadow-2) 40%, transparent);

    animation: move 3s infinite alternate ease-in-out;

    @media (min-width: 510px) {
      width: 45px;
    }
  }

  @keyframes deer-glow {
    0% {
      filter: hue-rotate(-40deg);
    }

    100% {
      filter: hue-rotate(40deg);
    }
  }

  @keyframes move {
    0% {
      scale: 1;
      filter: blur(1px) hue-rotate(-40deg);
    }

    100% {
      scale: 0.9;
      filter: blur(1px) hue-rotate(40deg);
    }
  }
}

@layer content {
  .content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    opacity: 0.8;
    translate: calc(var(--pointer-x) / 2) calc(var(--pointer-y) / 2);
  }

  .heading {
    font-size: clamp(2.5rem, 15vw, 11rem);
    font-weight: normal;
  }

  .description {
    padding: 1rem 0;
    font-family: var(--font-sans-serif);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;

    a {
      font-size: clamp(1.5rem, 5vw, 3rem);
      font-weight: 600;
      color: var(--color-fg);
      text-decoration: none;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 1ch;
        height: 4px;
        background-color: currentColor;
        bottom: -3px;
        left: 2px;
        transform-origin: left;
        transition: transform 0.3s ease-in-out;
        transform: scaleX(0);
      }

      &:hover::before {
        transform: scaleX(1);
      }
    }

    &:has(a:hover) a:not(:hover) {
      filter: blur(1px);
      opacity: 0.7;
    }
  }
}
